// https://colorscheme.ru/#3H11Tw0w0w0w0
// #1049A9	#29497F	#052C6E	#4479D4	#6A92D4

* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  position: relative;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

